[submodule "support/common"]
	path = support/common
	url = https://github.com/rux616/modding-build-release-scripts
[submodule "support/jsonnet"]
	path = support/jsonnet
	url = https://github.com/rux616/modding-fo4-mcm-jsonnet-library
[submodule "support/papyrus-imports/vanilla"]
	path = support/papyrus-imports/vanilla
	url = https://github.com/rux616/modding-fo4-scripts-vanilla
